/* Colours ---------------------------------------------------------------*/
/* Background: #F8F9F9
/* Font: #424949
/* Boarder: #D5D8DC
/* Navbar and Footer: #D5D8DC and hover #AEB6BF 
/* Green: #14F00C
/* Blue: #07CAE2
/* Orange: #FC9D2B
/* Global Styles ---------------------------------------------------------*/
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 115%;
    background-color: #F8F9F9;
}

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: dense;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F8F9F9;
    width: 100vw;
    height: 100vh;
}

.container > * {
    grid-column: 1 / span 12;
}

.link {
    color: #D5D8DC;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: #D5D8DC;
}


/* Navbar ---------------------------------------------------------*/
.navbar {
    background-color: #212F3D;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.navbar a {
    display: block;
    background-color:transparent;
    text-decoration: none;
    padding: 10px 16px;
}

.navbar a:hover {
    background:transparent;
    text-decoration: underline;
    text-decoration-color: #56bcff;
    padding: 10px 16px;
}

.createaccount {
    font-size: 80%;
}

/* HOME PAGE ---------------------------------------------------------*/

/* Heading ---------------------------------------------------------*/
.header {
    font-family: 'Open Sans', sans-serif;
    background-image:url("orangepink.svg");
    background-size: 100% 100%;
    color: whitesmoke;
    text-align: center;
    padding: 0% 5% 5%;
    padding-top: 15%;
    padding-bottom: 10%;
}


/* Top 10 UK Diverse Employers ------------------------------------------------------------*/

section {
    text-align: center;
    padding-bottom: 3%;
}

.DiverseEmployersTitle {
    color: #212F3D;
    padding-top: 5%;
}

.DiverseEmployersP {
    color: rgb(189, 189, 189);
}



/* Popular Job Application Sites ------------------------------------------------------------*/

.JobApplicationSitesTitle {
    color: #212F3D;
    text-align: center;
    padding-top: 2%;
}

.links {
    color: #424949;
}

.links1:hover {
    color: #fc5c2b;
}

.links2:hover {
    color: #FC9D2B;
}

.links3:hover {
    color: #66cc4d;
}

.links4:hover {
    color: #2dbed1;
}

.links5:hover {
    color: #9f49d8;
}

/* Blog ------------------------------------------------------------*/

.blog-text {
    padding: 10%;
}

/* Article ---------------------------------------------------------*/
article {
    background-color: #F8F9F9;
}

.summary {
    background-color: rgb(235, 235, 235);
    border-bottom: 1px dashed #D5D8DC;
}

.logoSummary {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.summary h2 {
    font-family: 'Open Sans', sans-serif;
    color: #424949;
    text-align: center;
    padding-top: 3%;
}

.summary p {
    color: #424949;
    padding-bottom: 1%;
}

.mission {
    color: #424949;
    padding: 1% 10%;
}

.summaryinfo {
    color: #424949;
    padding-bottom: 1%;
    background-color:  rgb(235, 235, 235);
}

/* Header ---------------------------------------------------------*/
.pagesTitle {
    padding-top: 7%;
    font-size: 70%;
}


/* User Stories ---------------------------------------------------------*/
.card {
    margin: 0 auto;
    width: 80%;
    margin: 10%;
}


.commentForm {
    margin: 0 auto;
    width: 80%;
    margin: 10%;
}



/* Blog ---------------------------------------------------------*/
.RowSummary {
    padding: 10%;
}

.card1 {
    padding-top: 10%;
}

.fakeimg {
    font-size: 85%;
    border-bottom: 2px dashed #FC9D2B;
    padding-top: 1%;
    padding-bottom: 10%;
}

.card1 {
    padding: 20px;
    padding-top: 20px;
    background-color:  rgb(235, 235, 235);
    padding-bottom: 9%;
}

.right {
    font-size: 95%;
}


/* Footer ---------------------------------------------------------*/
.footer {
    background-color: #212F3D;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 5%;
    color: #F8F9F9;
    font-size: 80%;
    align-items: center;
}

.footer a {
    display: block;
    background-color: #212F3D;
    color: #F8F9F9;
    text-decoration: none;
    padding: 10px 16px;
}

.footer a:hover {
    background: #304153;
    text-decoration: underline;
    text-decoration-color: #FC9D2B;
}

.btn {
    font-size: 105%;
    display: inline-block;

}

.btn-primary {
    border-color:#304153;
}


.btn-primary:hover {
    border-color:#304153;
    background-color: hotpink
}

.btn-primary-apply {
    background-color: transparent;
    border-color: white;
    color: #F8F9F9;
}


.btn:hover {
    color: #F8F9F9;
    text-decoration: underline;
}


 
/* Media queries ---------------------------------------------------------*/
@media screen and (min-width: 990px) {
    body {
        font-size: 20px;
        height: 100%;
    }
    .navbar a {
        padding: 10px 16px;
    }
    .navbar ul {
        display: inline-block;
        grid-column: 1 / span 12;
        grid-row: 1;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
    }
    .navbar li {
        display: inline-block;
        text-align: center;
    }
    .navbar-text {
        display: inline-block;
        padding-right: 2%;
    }
    .header {
        grid-column: 1 / span 12;
        grid-row: 3;
        width: 100%;
        text-align: center;
    }
    .header h1 {
        font-size: 290%;
    }
    .summary {
        border-bottom: 1px dashed #D5D8DC;
        padding: 3% 5%;
    }
    .logoSummary {
        display: inline-block;
        vertical-align: top;
        margin-top: 100px;
        margin-left: 30px;
    }
    .mission {
        padding-right: 8%;
        width: 60%;
        float: right;
    }
    .summary h2 {
        font-size: 150%;
    }
    .summary p {
        font-size: 90%;
        display: inline;
    }
    .footer {
        grid-column: 1 / span 12;
        grid-row: 9;
    }
    .footer a {
        padding: 6% 16px;
    }
    .footer ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: left;
    }
    .btn {
        font-size: 105%;
        display: inline-block;
    }
    
    /* Blog section -------------*/
    
    /* body {
        font-family: 'Open Sans', sans-serif;
        font-size: 85%;
      } */
      
      /* Create two unequal columns that floats next to each other */
      /* Left column */

      .column {
          float: left;
          width: 50%;
          padding: 10px;
      }

      .left {
        width: 65%;
      }
      
      .right {
        width: 35%;
        font-size: 90%;
      }

      .right h5 {
          text-align: center;
      }

    /* .leftcolumn {
        grid-column: 1 / span 6;
        grid-row: 12;
        width: 75%;
        padding-left: 5%;
        padding-top: 3%;
        padding-right: 2%;
    } */

    #more {display: none;}
    #more2 {display: none;}
      
    /* Right column */
    /* .rightcolumn {
        grid-column: 7 / span 12;
        grid-row: 1;
        width: 25%;
        padding-left:0%;
        padding-right: 7%;
        padding-top: 3%;
      } */
      
    /* Fake image */
    /* .fakeimg {
        background-image:url("blogquote1.png");
        background-size: 100% 100%;
        width: 100%;
        padding:20px;
    } */
      
    /* .fakeimg2 {
        background-image:url("diversity.jpg");
        background-size: 100% 100%;
        width: 100%;
        padding:20px;
    } */

    /* Add a card effect for articles */
   
      
    .card1 {
        padding: 20px;
        padding-top: 20px;
        background-color:  rgb(235, 235, 235);
        padding-bottom: 9%;
    }
      
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
      

      /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other
      @media screen and (max-width: 800px) {
        .leftcolumn, .rightcolumn {
        width: 100%;
          padding: 0; 
        }
    } */
}
